openapi: 3.1.0
info:
  title: Google Looker Studio API
  description: |
    The Looker Studio (formerly Data Studio) API lets developers search and
    manage Looker Studio assets such as reports and data sources. The API is
    restricted to organizations using Google Workspace or Cloud Identity, and
    requires a Workspace admin to configure domain-wide delegation.
  version: v1
servers:
  - url: https://datastudio.googleapis.com
security:
  - OAuth2: [datastudio]
  - OAuth2: [datastudio.readonly]
paths:
  /v1/assets:search:
    get:
      summary: Search assets
      description: Search for and manage Looker Studio assets such as reports and data sources.
      operationId: searchAssets
      parameters:
        - name: assetTypes
          in: query
          required: true
          schema:
            type: string
            enum: [REPORT, DATA_SOURCE]
          description: Asset type filter; one of REPORT or DATA_SOURCE.
        - name: title
          in: query
          schema:
            type: string
          description: Filter results by asset title.
        - name: owner
          in: query
          schema:
            type: string
          description: Filter results by asset owner email address.
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: pageToken
          in: query
          schema:
            type: string
        - name: includeTrashed
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  assets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  nextPageToken:
                    type: string
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            datastudio: View and manage Looker Studio assets
            datastudio.readonly: View Looker Studio assets
            userinfo.profile: View profile information
  schemas:
    Asset:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        type:
          type: string
          enum: [ASSET_TYPE_UNSPECIFIED, REPORT, DATA_SOURCE]
        trashed:
          type: boolean
        owner:
          type: string
        updateByMeTime:
          type: string
          format: date-time
        updateTime:
          type: string
          format: date-time
        createTime:
          type: string
          format: date-time
        lastViewByMeTime:
          type: string
          format: date-time
